<form action="/new" method="POST">
    <h2>Enter your name and message</h2>
    <input type="text" name="name" placeholder="Name..." maxlength="15">
    <textarea name="message" cols="30" rows="10" placeholder="Message..."></textarea>
    <button>Send</button>
</form>
